#background{
    background-color: blueviolet;
  }

  #fc{
    color: white;
  }

  .center{
    text-align: center;
  }

  .right {
    text-align: right;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  .footer {
    background-color: blueviolet;
    box-sizing: border-box;
    width: 100%;
  }

  #L {
    font-size: large;
  }

  #button {
    background-color: darkmagenta;
  }